<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cálculo de compras</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>Cálculo de compras</h1>
    <form id="calcForm">
        <label for="nombre">Ingresa tu nombre:</label>
        <input type="text" id="nombre" name="nombre"><br><br>

        <label for="edad">Ingresa tu edad:</label>
        <input type="number" id="edad" name="edad"><br><br>

        <label for="cantidad">Ingrese la cantidad de tarros de pintura a comprar:</label>
        <input type="number" id="cantidad" name="cantidad"><br><br>

        <input type="button" value="Calcular descuento" onclick="calcularDescuento()">
    </form>

    <script>
        function calcularDescuento() {
            const nombre = document.getElementById('nombre').value;
            const edad = parseInt(document.getElementById('edad').value);
            const cantidad = parseInt(document.getElementById('cantidad').value);

            let totalSinDescuento = cantidad * 9000;
            let descuento = 0;
            let totalConDescuento = totalSinDescuento;

            if (edad >= 18 && edad <= 30) {
                descuento = totalSinDescuento * 0.15;
            } else if (edad > 30) {
                descuento = totalSinDescuento * 0.25;
            }

            totalConDescuento -= descuento;

            alert(`Nombre del cliente: ${nombre}\nTotal sin descuento: $${totalSinDescuento}\nDescuento: $${descuento}\nTotal a pagar: $${totalConDescuento}`);
        }
    </script>
</body>
</html>
